<ion-view view-title="My Profile" class="accountpage">

    <ion-nav-bar class="actu_header">
        <ion-nav-buttons>
            <i class="settingsicon ion-chevron-left" ng-click="vm.goFavorites()"></i>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>

        <ion type="item-text-wrap">
            <img class="profilpic" src="../../../images/app/Tuilon.png">
            <br>
            <h2 class="profilname">
                <a class="lobster-font" ng-click="vm.editNameClick()" ng-show="!vm.showNameEdit">{{vm.userName}}</a>
                <form ng-submit="vm.validateNewName(vm.newName)" ng-show="vm.showNameEdit">
                    <input class="" type="text" placeholder="Your name" ng-model="vm.newName">
                    </input>
                </form>
            </h2>

           
            <h2 class="profilname2">
                <a class="lobster-font" ng-click="vm.editStatusClick()" ng-show="!vm.showStatusEdit">{{vm.userStatus}}</a>
                <form ng-submit="vm.validateNewStatus(vm.userStatus)" ng-show="vm.showStatusEdit">
                    <input class="" type="text" placeholder="Your status" ng-model="vm.userStatus">
                    </input>
                </form>
            </h2>
            <div>
                
                <a  ng-click="vm.editTopClick()">
                    <img class="accountpic" src="../../../images/app/never.png ">
                  <div class="topsong-text1"> <i class="icon ion-music-note"></i> Top song</div>
                    <span class="topsong-text" ng-show="!vm.showTopEdit">
                        {{vm.userTopSong.artist}} - {{vm.userTopSong.title}}
                    </span>
                </a>
                <form ng-submit="vm.validateNewTop(vm.userTopSong)" ng-show="vm.showTopEdit">
                    <input class="" type="text" placeholder="Title" ng-model="vm.userTopSong.title">
                    </input>
                    <input class="" type="text" placeholder="Artist" ng-model="vm.userTopSong.artist">
                    </input>
                    <input class="" type="text" placeholder="Year" ng-model="vm.userTopSong.year">
                    </input>

                    <button type="submit" class="button button-block button-positive">Save</button>

                </form>

                <a class="item-icon-left">
                     <img class="accountpic2" src="../../../images/app/List.jpg ">
                    <div class="toplist-text"> <i class="ion-trophy"></i> Number of lists </div> <span class="item-note">
                        {{vm.userScore}}
                    </span>
                   
                </a>

                <!-- PUT A SPACE HERE, MAYBE CARDS ??? -->

                <a class="item-icon-left">
                    <img class="accountpic3" src="../../../images/app/Disturb.jpg ">
                    <div class="conditions-text"> <i class="ion-information-circled"></i> Conditions of use</div>
                </a>

                <a class=" item-icon-left" ng-click="vm.showContact()">
                    <img class="accountpic4" src="../../../images/app/Team.jpg ">
                    <div class="team-text">
                    <i class="ion-help-buoy"></i> Contact us</div>
                    <span class="item-note"></span>
                </a>

                <a class=" item-icon-left logoutbutton" ng-click="vm.confirmLogout()">
                    <i class="icon ion-log-out"></i>
                </a>

                <button class="button button-block button-assertive" ng-show="vm.wantLogout" ng-click='vm.doLogOut()'>
                    <b>Confirm log out</b>
                </button>

                <button class="button button-block button-positive" ng-show="vm.wantLogout" ng-click='vm.confirmLogout()'>
                    <b>Discard</b>
                </button>

            </div>
        </ion>

    </ion-content>
</ion-view view>
