<ion-modal view title="Add New Friend" class="newfriendpage">
    <div class="modal">

        <ion-header-bar class="actu_header">
            <i class=" ion-chevron-down icon_modal" ng-click="hideAddFriend()"></i>
            <h1 class="title">Add New Friend</h1>
        </ion-header-bar>

        <ion-content>

            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="Search" ng-model='vm.friendsFilter'>
                </label>
                <button class="button button-clear" ng-click="vm.clearInput()">
                    Cancel
                </button>
            </div>

            <ion-list ng-hide='!vm.friendsFilter || vm.friendsFilter ==""'>
                </ion-item>
                <ion-item ng-repeat="friend in vm.friends | filter:vm.friendsFilter | orderBy : 'name'" type="" class="item-avatar item-icon-right">
                    <img ng-src="{{friend.face}}"> {{friend.name}}
                    <i class="icon ion-ios-plus-outline" ng-click="vm.addToFriends(friend)" ng-hide='friend.added'></i>
                    <i class="icon ion-ios-plus" ng-show='friend.added'></i>
                </ion-item>
            </ion-list>

            <div ng-show='!vm.friendsFilter || vm.friendsFilter ==""'>
                <i class="icon ion-search searchicon"></i>
                <p class="coms">In order to find a new Friend,
                    <p class="coms">enter his 'tal' name
            </div>

            <!--     <div>
        <p ng-show="counterPositive()" class="addarrow">Add {{selectedCounter}} friend<a ng-hide="counterMoreOne()">s</a> <i class="ion-arrow-graph-up-right"></i></p>
    </div>
    </ion-content> -->

    </div>
</ion-modal view>
