<ion-modal view-title="Add New Friend" class="newfriendpage">
    <div class="modal">

        <ion-header-bar class="actu_header">
            <i class=" ion-chevron-down icon_modal" ng-click="hideAddFriend()"></i>
            <h1 class="title">Add New Friend</h1>
        </ion-header-bar>

        <ion-content>
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search a Friend" ng-model="query">

                </label>
            </div>

            <ul ng-hide="query==''">
                <li class="animation" ng-repeat="friend in chats | filter:query | orderBy:orderProp">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="friend.selected" ng-change="change(friend)" class="coms">
                    </label> <a class="friend-name">{{friend.name}} </a>
                </li>
            </ul>
            
            <div ng-show="query==''">
                <i class="icon ion-search searchicon"></i>
                <p class="coms">In order to find a new Friend,
                    <p class="coms">enter his 'tal' name
            </div>
            <div>
                <p ng-show="counterPositive()" class="addarrow">Add {{selectedCounter}} friend<a ng-hide="counterMoreOne()">s</a> <i class="ion-arrow-graph-up-right"></i></p>
            </div>
        </ion-content>

    </div>
</ion-modal view>
