<ion-view view-title="Favorites" class="favpage">

    <ion-nav-bar>
        <ion-nav-buttons side="left">
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <i class="settingsicon ion-gear-a" ng-click="vm.showAccount()"></i>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        <ion-list>

            <ion-item ng-repeat="song in vm.favoriteSongs track by $index" class="item-avatar itemfav">

                <img ng-src="{{song.face}}" ng-click="vm.playSong(song)"> <i class="ion-ios-play icone-play-pause" ng-if="!vm.isSongPlaying(song)" ng-click="vm.playSong(song)"></i><i class="ion-ios-pause icone-play-pause" ng-if="vm.isSongPlaying(song)" ng-click="vm.playSong(song)"></i>

                <p href="#/tab/favorites/{{song.id}}" class="fav-item"><b>{{song.title}}</b> - <a class="artist">{{song.artist}}</a> <i class="icon-right ion-chevron-right" ng-click="openSong(song)"></i></p>

                <ion-option-button class="button-assertive" ng-click="vm.removeSong(song)">
                    <i class="ion-close-circled deletebutton"> </i>
                </ion-option-button>

                <!--    <ion-delete-button class="ion-minus-circled"
                       ng-click="items.splice($index, 1)">
    </ion-delete-button> -->

            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>
