<ion-view view-title="{{vm.friend.name}}" class="accountpage">

    <ion-nav-bar class="actu_header">
        <ion-nav-buttons>
            <i class="settingsicon ion-chevron-left icon_modal" ng-click="vm.goFriendsList()"></i>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>

        <ion type="item-text-wrap">
            <img class="profilpic" ng-src="{{vm.friend.face}}">
            <br>
            <h2 class="profilname">
                <a class="lobster-font" ng-click="vm.editNameClick()" ng-show="!vm.showNameEdit">{{vm.friend.name}}</a>

            </h2>
            <h3 class="email"> {{vm.friend.status}} </h3>

            <br>
            <br>

            <div class="list">
                <a class="item item-icon-left">
                    <i class="icon ion-music-note"></i> Top song
                    <span class="item-note">
                        {{vm.friend.topSong.artist}} - {{vm.friend.topSong.title}} ({{vm.friend.topSong.year}})
                    </span>
                </a>

                <a class="item item-icon-left">
                    <i class="icon ion-trophy"></i> Number of lists
                    <span class="item-note">
                        {{vm.friend.score}}
                    </span>
                </a>

                <a class="item item-icon-left">
                    <i class="icon ion-happy"></i> Friends since
                    <span class="item-note">
                        18/02/2015
                    </span>
                </a>
            </div>

            <button class="button button-block button-assertive">
                Delete Friend
            </button>

    </ion-content>

</ion-view>
