<ion-view view-title="Share a List" class="tab-dash">
    <ion-content class="padding">

        <label class="item item-input">
            <a class="title-list">Title :</a>
            <input class="name-list" type="text" placeholder="Name of your playlist" ng-model="vm.listTitle">
            </input>
        </label>
        <!-- Maybe put the Title on the Modal view ? -->

        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search your song" ng-change='vm.searchSong()' ng-model="vm.mySearch">
            </label>
            <button class="button button-clear" ng-click='vm.clearSearch()'>
                Cancel
            </button>
        </div>

        <!-- IL FAUT EN FAIRE UN FOND -->
        <!-- <div ng-show="vm.currentList.length==0" class="commentaire" ng-click="vm.moveBigButton()">
            <div class="text-on-blurred-dash">
                <i id="buttons" class="icon ion-ios-musical-notes music-icon icon-bottom"></i>
                <br>
                <p class="coms">Create a <a class="lobster-font">playlist</a>
                    <p class="coms2">of maximum eleven <a class="lobster-font">songs</a>
            </div>
        </div> -->

        <ion-list>
            </ion-item>
            <ion-item ng-repeat="song in vm.suggestions | limitTo:5" type="" class="item-avatar" ng-click="vm.addSongByClick(song)">
                <img ng-src="{{song.face}}"> {{song.title}} - {{song.artist}}
            </ion-item>
        </ion-list>

        <div collection-repeat="song in vm.currentList" item-height="25%" item-width="33%">
            <span class="badge badge-assertive" ng-click="vm.removeSong($index)"><i class="ion-close-round badge-delete"></i></span>
            <div back-img="{{song.face}}" ng-click="vm.playSong(song)" class="image-collection-list song-clean animation" ng-class="{'song-blurred': song && vm.isSongPlaying(song)}"> </div>

            <div ng-if="vm.isSongPlaying(song)" class="text-on-blurred-image" ng-click="vm.playSong(song)">

                <p class="nametoartist">
                    <br>
                    <h4 class="name">
                        {{song.title}}</h4>
                    <p class="nametoartist"> {{song.artist}}</p>
                </p>

            </div>
        </div>
        <i ng-hide="vm.currentList.length==0" class="ion-ios-close-outline clear-button-dash" ng-click="vm.clearList()"></i>
        <i ng-hide="vm.currentList.length==0" class="ion-ios-checkmark-outline send-button-dash" ng-click="vm.showFriends()"></i>

    </ion-content>
</ion-view>
