<ion-modal view title="Terms of Use" class="accountpage">
    <div class="modal">

        <ion-header-bar class="actu_header">
            <i class="ion-chevron-down settingsicon" ng-click="vm.hidePolicy()"></i>
            <h1 class="title">Policy</h1>
        </ion-header-bar>

        <ion-content class="padding">

            <p> Please read these Terms of Use ("Terms") carefully. By downloading, accessing, or using the mobile applications, websites, or other products or services of Bround, Inc. and our affiliates (the services, features, or functionality jointly offered with other companies through our mobile application or website (collectively, the "Services"), you agree to be bound by these Terms. These Terms affect your legal rights and obligations, so if you do not agree to these Terms, do not use the Services.
            </p>

            <p> In the event you use a service, feature, or functionality that is operated by a third party and made available through our Services (including Services we jointly offer with the third party), each party’s terms will govern as to the respective party’s relationship with you. In these instances, we wi
            </p>

            <p> Bround does not transmit any funds and is not a money-services business. To the extent such functionality is made available in the Services, it is provided by an unaffiliated third party, and like any other third-party service, subject to their terms of use.
            </p>

            <p> ARBITRATION NOTICE: EXCEPT FOR CERTAIN TYPES OF DISPUTES DESCRIBED IN THE ARBITRATION CLAUSE BELOW, YOU AGREE THAT DISPUTES BETWEEN YOU AND BROUND WILL BE RESOLVED BY MANDATORY BINDING ARBITRATION AND YOU WAIVE ANY RIGHT TO PARTICIPATE IN A CLASS-ACTION LAWSUIT OR CLASS-WIDE ARBITRATION.
            </p>

        </ion-content>
    </div </ion-modal>
