<ion-modal view title="Select Friends" class="sending-friends-page">
    <div class="modal">

        <ion-header-bar class="actu_header">
            <i class=" ion-chevron-down icon_modal" ng-click="vm.hideSendToFriends()"></i>
            <h1 class="title">Select some Friend(s) !</h1>
        </ion-header-bar>

        <ion-content>

            <div class="bar bar-header item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" placeholder="Search" ng-model='vm.friendsFilter'>
                </label>
                <button class="button button-clear" ng-click="vm.clearInput()">
                    Cancel
                </button>
            </div>

            <ion-list>
                <ion-item ng-repeat="friend in vm.friends | filter:vm.friendsFilter | orderBy : 'name'" class="item-avatar item-icon-right animation" ng-click="vm.addToSendingList(friend)">
                    <img ng-src="{{friend.face}}"> {{friend.name}}
                    <i class="icon ion-ios-plus-outline" ng-hide='friend.added'></i>
                    <i class="icon ion-ios-plus" ng-show='friend.added'></i>
                </ion-item>
            </ion-list>

            <button class="button button-block button-positive" ng-click='vm.send()'>
                Send <b>{{vm.listTitle}}</b> !
            </button>

            <h4>{{vm.warningMessage}}</h4>

        </ion-content>
    </div>
</ion-modal view>
