<ion-tabs class="tabs-striped tabs-color-dark tab-page">

    <!-- Chats Tab -->
    <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
        <ion-nav-view name="chats"></ion-nav-view>
    </ion-tab>

    <!-- Home Tab -->
    <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
        <ion-nav-view name="home"></ion-nav-view>
    </ion-tab>

    <!-- Favorites Tab -->
    <ion-tab title="Favorites" icon-off="ion-android-favorite-outline" icon-on="ion-android-favorite" badge="newFavoritesCount" badge-style="badge-dark" href="#/tab/favorites">
        <ion-nav-view name="favorites"></ion-nav-view>
    </ion-tab>

</ion-tabs>
